@section scripts {
    @Scripts.Render("~/bundles/app")
}

<!DOCTYPE html>
<html lang="uk">
<head>
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="row">
        <div class="col-sm-3 btn-group btn-group-lg">
            <button type="button" class="btn btn-primary">
                <img src="~/Content/title.gif" alt="title" />
            </button>
        </div>
        <div class="col-sm-5 btn-group btn-group-lg btn-block">
            <button type="button" class="btn btn-primary"><h3>Головна</h3></button>
            <button type="button" class="btn btn-primary"><h3>Пошук роботи</h3></button>
            <button type="button" class="btn btn-primary"><h3>Створити резюме</h3></button>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col">
                    <p>Шукачі роботи:</p>
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-primary">Вхід</button>
                        <button type="button" class="btn btn-primary">Реєстрація</button>
                    </div>
                </div>
                <div class="col">
                    <p>Роботодавці:</p>
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-primary">Вхід</button>
                        <button type="button" class="btn btn-primary">Реєстрація</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row pt-4">
        <div class="col">
            <label for="job_Category">Рубрика:</label>
            <input type="text" class="form-control" id="job_Category">
        </div>
        <div class="col">
            <label for="job_Location">Регіон:</label>
            <input type="text" class="form-control" id="job_Location">
        </div>
        <div class="col">
            <button type="button" class="btn btn-warning btn-lg btn-block">Знайти роботу!</button>
        </div>
    </div>

    <div class="row">
        @*<div class="col">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Реєстрація</h2>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" data-bind="submit: addBook">
                        <div class="form-group" data-bind="with: newBook">
                            <label for="inputUserMail" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputTitle" data-bind="value:Title" />
                            </div>

                            <label for="inputYear" class="col-sm-2 control-label">Year</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputYear" data-bind="value:Year" />
                            </div>

                            <label for="inputGenre" class="col-sm-2 control-label">Genre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputGenre" data-bind="value:Genre" />
                            </div>

                            <label for="inputPrice" class="col-sm-2 control-label">Price</label>
                            <div class="col-sm-10">
                                <input type="number" step="any" class="form-control" id="inputPrice" data-bind="value:Price" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>*@
        <div class="col">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Користувачі</h2>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled" data-bind="foreach: user_accounts">
                        <li>
                            <span data-bind="text: Email"></span>;
                        </li>
                    </ul>
                </div>
            </div>
            <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
        </div>
    </div>

</body>
</html>
